<html>

    <head>
        <title> AD Mobile </title>
        <link type="text/css" rel="stylesheet"
        href="/assets/stylesheets/bootstrap/css/bootstrap.css">
        <link href="../../public/stylesheets/bootstrap/css/bootstrap-grid.css">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <img src="/assets/images/123.jpg.png" width="15%"><br>
                <h1><u>Promotion</u></h1>
            </div>
        </div>
        <div class="container">
            <h1 >iPhone</h1>
            <br><br>
            <div class="row">
                <div class="col-sm-6" style="background-color:white;">
                    <center><img src="/assets/images/ip10.jpg" width=" 20%"></center><br>
                    <center><font size="3">ชื่อรุ่น iPhone X (256 GB) <br>สี ดำ,ทอง,เงิน<br>ราคาปกติ ฿32000(ลดเหลือ ฿28100)</font></center><br><br>
                    <center><img src="/assets/images/ip7p.jpg" width=" 25%"></center><br>
                    <center><font size="3">ชื่อรุ่น iPhone7 Plus (64 GB) <br>สี ดำ,ทอง,เงิน<br>ราคาปกติ ฿23000(ลดเหลือ ฿19100)</font></center><br><br>
                </div>
            </div>
                    <div class="col-sm-6" style="background-color:white;">
                        <h1 >Oppo</h1>
                        <center><img src="/assets/images/f7.jpg"width="26%"></center><br>
                        <center><font size="3">ชื่อรุ่น Oppo F7 (128 GB) <br>สี ดำ,ทอง,เงิน,แดง<br>ราคาปกติ ฿10900(ลดเหลือ ฿8900)</font></center><br><br>
                        <h1 >Huawei</h1>
                        <center><img src="/assets/images/p20.jpg" width=" 20%"></center><br>
                        <center><font size="3">ชื่อรุ่น Huawei P20pro (128 GB) <br>สี ดำ,ทอง,เแดง<br>ราคาปกติ ฿22000(ลดเหลือ ฿19900)</font></center><br><br>
                    </div>
        </div>
    </body>
</html>