<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet"
        href="/assets/stylesheets/bootstrap/css/bootstrap.css">
        <link href="../../public/stylesheets/bootstrap/css/bootstrap-grid.css">
    </head>
    <body>
        <div class="row">
            <div class="col-md-12" >
                @menu()  <br>

        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <body>

        <div class="container">
            <h1 style="background-color: #9d9d9d">Huawei</h1>
            <br><br>
            <div class="row">
                <div class="col-sm-6" style="background-color: white">
                    <center><img src="/assets/images/p20.jpg" width=" 26%"></center><br>
                    <center><font size="3">ชื่อรุ่น Huawei P20pro (128 GB) <br>สี ดำ,ฟ้า<br>ราคาปกติ ฿22000</font></center><br><br>
                    <center><img src="/assets/images/nova3.jpg" width=" 26%"></center><br>
                    <center><font size="3">ชื่อรุ่น Huawei nova3e (64 GB) <br>สี ดำ,ชมพู,ฟ้า<br>ราคาปกติ ฿10900</font></center><br><br>
    </div>
                <div class="col-sm-6" style="background-color:white;">
                    <center><img src="/assets/images/y7.jpg" width=" 26%"></center><br>
                    <center><font size="3">ชื่อรุ่น Huawei Y7pro (32 GB) <br>สี ดำ,ทอง<br>ราคาปกติ ฿4900</font></center><br><br>
                    <center><img src="/assets/images/y9.jpg" width=" 26%"></center><br>
                    <center><font size="3">ชื่อรุ่น Huawei Y9 (32 GB) <br>สี ดำ,ทอง,เงิน<br>ราคาปกติ ฿18700</font></center><br><br>
                </div>
            </div>
        </div>
    </body>
</html>

