<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet"
        href="/assets/stylesheets/bootstrap/css/bootstrap.css">
        <link href="../../public/stylesheets/bootstrap/css/bootstrap-grid.css">
    </head>
    <body>
        <div class="row">
            <div class="col-md-12" >
                @menu()  <br>
            </div>

<div class="container">
    <h1 style="background-color: palevioletred">iPhone</h1>
    <br>
    <div class="row">
        <div class="col-sm-6" style="background-color:white;">
            <center><img src="/assets/images/ip6.jpg" width=" 20%"></center><br>
            <center><font size="3">ชื่อรุ่น iPhone6s (32 GB) <br>สี ดำ,ทอง,เงิน<br>ราคาปกติ ฿18700</font></center><br><br>
            <center><img src="/assets/images/ip.jpg"width="15%"></center><br>
            <center><font size="3">ชื่อรุ่น iPhone6s Plus (128 GB) <br>สี ดำ,ทอง<br>ราคาปกติ ฿27000</font></center><br><br>
            <center><img src="/assets/images/ip7.jpg"width="30%"></center><br>
            <center><font size="3">ชื่อรุ่น iPhone7 (128 GB) <br>สี ดำ,ทอง,แดง<br>ราคาปกติ ฿31500</font></center><br><br>
            <center><img src="/assets/images/ip7p.jpg"width="27%"></center><br>
            <center><font size="3">ชื่อรุ่น iPhone7 Plus (32 GB) <br>สี ดำ,ทอง,เงิน,พริ้ง,แดง<br>ราคาปกติ ฿27500</font></center><br><br>
        </div>
        <div class="col-sm-6" style="background-color:white;">

<center><img src="/assets/images/ip8.jpg"width="26%"></center><br>
<center><font size="3">ชื่อรุ่น iPhone8  (64 GB) <br>สี ดำ,ทอง,เงิน,พริ้ง,แดง<br>ราคาปกติ ฿29000</font></center><br><br>
            <center><img src="/assets/images/ip8p.jpg"width="25%"></center><br>
            <center><font size="3">ชื่อรุ่น iPhone8 Plus  (64 GB) <br>สี ดำ,ทอง,เงิน,แดง<br>ราคาปกติ ฿33000</font></center><br><br>
            <center><img src="/assets/images/ip10.jpg"width="20%"></center><br>
            <center><font size="3">ชื่อรุ่น iPhone8  (64 GB) <br>สี ดำ,เงิน<br>ราคาปกติ ฿39000</font></center><br><br>
    </div>
</div>
</div>

    </body>
</html>