

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/iPhone">iPhone</a></li>
            <li><a href="/SamSung">Samsung</a></li>
            <li><a href="/Huawei">Huawei</a></li>
            <li><a href="/Oppo">Oppo</a></li>
            <li><a href="/Vivo">Vivo</a></li>
            <li><a href="/show">Products</a></li>
            <li><a href="/products_form">Products Order</a></li>
        </ul>
    </div>
</nav>