<html>
    <head>
        <title>PRODUCT ORDER</title>
        <link type="text/css" rel="stylesheet"
        href="/assets/stylesheets/bootstrap/css/bootstrap.css">
    </head>
    <center><body>
        <h2 class="bg-warning text-dark">MY PHONE</h2>
        <form action="/product_post" method="post">
            <table class="table-primary">
                <tr>
                    <th>  ID :</th>
                    <td><input type="text" name="id" size="30" maxlength="30" required></td>
                </tr>
                <tr>
                    <th>  Name :</th>
                    <td><input type="text" name="name" size="30" maxlength="30" required></td>
                </tr>
                <tr>
                    <th>Col :</th>
                    <td><input type="text" name="col" size="15" maxlength="20" required></td>
                </tr>
                <tr>
                    <th>Capacity :</th>
                    <td><input type="text" name="capacity" size="15" maxlength="20" required></td>
                </tr>
                <tr>
                    <th>Price :</th>
                    <td><input type="text" name="price" size="30" maxlength="20" required></td>
                </tr>
                <tr>

                <tr>
                    <th>Amount :</th>
                    <td>
                    <input type="text" name="amount" size="30" maxlength="20" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br><center><input type="submit" value="OK" class="btn btn-success">
                        <input type="reset" value="Cancel" class="btn btn-danger"></center>
                    </td>
                </tr>
            </table>
        </form>
    </body></center>
</html>

