<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet"
        href="/assets/stylesheets/bootstrap/css/bootstrap.css">
        <link href="../../public/stylesheets/bootstrap/css/bootstrap-grid.css">
    </head>
    <body>
        <div class="row">
            <div class="col-md-12" >
                @menu()  <br>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <body>


        <div class="container">
            <h1 style="background-color: gold">Samsung</h1>
            <br><br>
            <div class="row">
                <div class="col-sm-6" style="background-color:white;">
                    <center><img src="/assets/images/s9+.jpg" width=" 32%"></center><br>
                    <center><font size="3">ชื่อรุ่น Samsung S9+ (128 GB) <br>สี ดำ,ทอง,แดง,ฟ้า<br>ราคาปกติ ฿32000</font></center><br><br>
                    <center><img src="/assets/images/s9.jpg"width="26%"></center><br>
                    <center><font size="3">ชื่อรุ่น Samsung S9 (64 GB) <br>สี ดำ,ทอง<br>ราคาปกติ ฿27500</font></center><br><br>

                </div>
                <div class="col-sm-6" style="background-color:white;">

                    <center><img src="/assets/images/not8.jpg"width="26%"></center><br>
                    <center><font size="3">ชื่อรุ่น Samsung note8  (64 GB) <br>สี ดำ,ทอง,เงิน,ฟ้า<br>ราคาปกติ ฿28000</font></center><br><br>
                    <center><img src="/assets/images/j7.jpg"width="26%"></center><br>
                    <center><font size="3">ชื่อรุ่น Samsung J7 (32 GB) <br>สี ดำ,ทอง<br>ราคาปกติ ฿6500</font></center><br><br>

                </div>
            </div>
        </div>

    </body>
</html>