@(pro1:products,pro2:products,pro3:products,pro4:products,pro5:products)
<br><br>
<center><h4>products</h4>
<div class="row">
    <div class="col-md-6">
         <img src="/assets/images/ip6.jpg"width="30%"><br>
         Name: @pro1.getName<br>
        Col: @pro1.getCol<br>
        Capacity: @pro1.getCapacity<br>
        Price: @pro1.getCapacity<br>
         Amount: @pro1.getAmount<br>
    </div>

<br><br>

    <div class="row">
        <div class="col-md-6">
            <img src="/assets/images/s9.jpg"width="40%"><br>
            Name: @pro2.getName<br>
            Col: @pro2.getCol<br>
            Capacity: @pro2.getCapacity<br>
            Price: @pro2.getCapacity<br>
            Amount: @pro2.getAmount<br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img src="/assets/images/p20.jpg"width="40%"><br>
            Name: @pro3.getName<br>
            Col: @pro3.getCol<br>
            Capacity: @pro3.getCapacity<br>
            Price: @pro3.getCapacity<br>
            Amount: @pro3.getAmount<br>
        </div>
    </div>
    <br><br>

    <div class="row">
        <div class="col-md-6">
            <img src="/assets/images/v7.jpg"width="40%"><br>
            Name: @pro4.getName<br>
            Col: @pro4.getCol<br>
            Capacity: @pro4.getCapacity<br>
            Price: @pro4.getCapacity<br>
            Amount: @pro4.getAmount<br>
        </div>
    </div>
    <br><br>

    <div class="row">
        <div class="col-md-6">
            <img src="/assets/images/f7.jpg"width="40%"><br>
            Name: @pro5.getName<br>
            Col: @pro5.getCol<br>
            Capacity: @pro5.getCapacity<br>
            Price: @pro5.getCapacity<br>
            Amount: @pro5.getAmount<br>
        </div>
    </div>
</div>
</center>
